<div class="left-nav-bar-container">
    <div class="nav-btn">
        <a [routerLink]="'./calendar/day'" >
            <img class="nav-btn-icon" alt="День" src="assets/imgs/date.png">
        </a>
    </div>

    <div class="nav-btn">
        <a [routerLink]="'./calendar/week'">
            <img class="nav-btn-icon" alt="Неделя" src="assets/imgs/week.png">
        </a>
    </div>
    <div class="nav-btn">
        <a [routerLink]="'kanban-desk'">
            <img class="nav-btn-icon" alt="Канбан" src="assets/imgs/kanban.png">
        </a>
    </div>
</div>
